* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-brand img {
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    pad: 0 10px;
}

.navbar-nav li a {
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;
}

/* -----------------------Banner-------------- */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
    padding-top: 5%;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.calender-icon {

    color: white;
    height: 45px;
    margin: 20px;
}

#banner a {
    color: white;
    text-decoration: none;
}

.img-fluid {
    width: 60%;
}

.bottom-img {
    width: 100%;
}

/* ----------------------- Services -------------- */

#about-us {
    padding: 80px 0;
}

.about-us {
    padding: 20px;
}

.about-img {
    width: 100px;
    margin-top: 20px;

    align-items: center;
}

.about-us h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;

    transform: translateY(8px);
}

#about-us .btn-primary {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    box-shadow: none;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    padding: 8px 25px;
}

/* -----------------events ---------------------------- */

#events {
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
}

#events img {
    width: 80%;
    /* height: 100%; */
}

.event-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#event ul li {
    margin: 10px 0;
}

.event-img {
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel {
    background-color: gray;
}
.event-container{
    height: 500px;
}
/* ----------Testimonial Section ------------------------- */

#testimonials {
    margin: 100px 0;
}

.testimonials {
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ----------------------social-media section -------------- */

#social-media {
    background: #f8f9fa;
    /* color: white; */
}

/* #social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-top: 8%;
} */
.social-icons img {
    width: 150px;
    transition: 0.5s;
    margin-top: 50px;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* -----------------------faq section --------------------- */
#faq {
    background: #f8f9fa;
    /* color: white; */
    padding: 100px 0;
    padding-top: 0px;
}

/* ----------------------Footer Section ------------------- */
#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 200px;
    margin: 10px;

}

.footer-box .fa {
    margin-right: 8px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-floating {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
    color: black;
    background-color: transparent;
    font-weight: 500;
    height: 45px;
}

/* Now to customize the button more */
.footer-box .btn-primary {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    box-shadow: none !important;
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    margin-top: 10px;
}

hr {
    background-color: white;
}

.copyright {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}